@page "/"
@using Microsoft.AspNetCore.Authorization

<PageTitle>Blazor Battles</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name. Welcome back!</h1>
        <p>Let's admire <a href="army">your beloved army!</a></p>
    </Authorized>
    
    <NotAuthorized>
        <h3>Welcome to Blazor Battles!</h3>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>




